* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Gantari', sans-serif;
}

.header-pokedex {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    z-index: 1;
}
.header-pokedex img {
    margin-top: 15px;
    width: 130px;
}
.header-pokedex h1 {
    color: white;
    padding: 0 5px;
    font-size: 3rem;
    text-transform: capitalize;
    margin-top: 8px;
}

.main-pokedex__pokemon-info {
    position: relative;
}
.pokemon-info__backgroundPokedex {
    background-color: #ff380c;
    height: 150vh;
}
.pokemon-info__border {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: 760px;
    border: 6px solid #ff380c;
}
.pokemon-info__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
}
.pokemon-info__containerImgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 14%;
    z-index: 1;
}
.pokemon-info__pokemonImg {
    width: 250px;
    z-index: 1;
}
.pokemon-info__containerImgs span {
    position: absolute;
    width: 180px;
    height: 22px;
    bottom: 12px;
    border-radius: 50%;
    background-color: #f4785d;
    z-index: 0;
}
.pokemon-info__circle {
    position: absolute;
    background-color: #ff8268;
    width: 1000px;
    height: 420px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    bottom: 0;
}
.pokemon-info__description {
    position: absolute;
    width: 100%;
    top: 51%;
    z-index: 1;
}
.pokemon-info__description__grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(80px, 20%));
    grid-template-rows: 80px 80px auto;
    justify-content: center;
}
.box-stats {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 7px;
    background-color: white;
    border-radius: 10px;
    font-size: 1.4rem;
}
.box-stats__image {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.box-stats__image--hp-image {
    background-image: url("../../assets/hp.png");
}
.box-stats__image--attack-image {
    background-image: url("../../assets/attack.png");
}
.box-stats__image--defense-image {
    background-image: url("../../assets/defense.png");
}
.box-stats__image--sp-attack-image {
    background-image: url("../../assets/sp-attack.png");
}
.box-stats__image--sp-defense-image {
    background-image: url("../../assets/sp-defense.png");
}
.box-stats__image--speed-image {
    background-image: url("../../assets/speed.png");
}
.box-stats__image + span {
    font-size: 1rem;
    color: gray;
}
.stat-number {
    font-size: 1.7rem;
    font-weight: bold;
}
.pokemon-box-info {
    grid-row: 3/4;
    grid-column: 1/4;
    background-color: white;
    border-radius: 10px;
    margin: 2px 7px;
    padding: 10px;
    font-size: 1.4rem;
    font-style: italic;
}
.pokemon-box-info__about {
    display: block;
    font-size: 1.6rem;
    font-weight: bold;
    padding-bottom: 4px;
    text-align: center;
    font-style: normal;
}

.pokeball-random {
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 10px;
    right: 12px;
    z-index: 1;
    border-radius: 50%;
    cursor: pointer;

    transition: all 1s;
    animation-name: pokeball;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.pokeball-random:active {
    transform: scale(1.1);
}
@keyframes pokeball {
    10% {
        transform: translateY(-10px);
    }
    20% {
        transform: translateY(0);
    }
}